Makefile
*.o
moc_*
doc/html/
doxygen.log
doxygen.log.xml
doxygen_objdb_*
build-stamp
configure-stamp
debian/files
debian/libkcalcoren-dbg/
debian/libkcalcoren-dev/
debian/libkcalcoren-doc/
debian/libkcalcoren.postinst.debhelper
debian/libkcalcoren.postrm.debhelper
debian/libkcalcoren.substvars
debian/libkcalcoren/
debian/*.substvars
debian/*.debhelper.log
debian/tmp/
lib*.so*
core
vgcore.*
*~
